@using MVC_PersonManagmeng.ViewModels
@model List<PersonViewModel>



@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.Id" alt="">
            <div class="caption">
                <h3 class="pull-right"></h3>
                <h3>
                    <p>@item.FirstName @item.LastName</p>
                </h3>
                <a href="/person/details/@item.Id">Show Details</a><br>
                <a href="/person/Update/@item.Id">Edit</a><br>
                <form action="/person/Delete/@item.Id" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
}
